extends layout

block content
    div.container
        div.col-sm-6.col-sm-offset-3
            h1
                span.fa.fa-sing-in Registrarse
            div.alert.alert-danger mensaje de error
            form(action="/singup",method="post")
                div.form-group 
                    label Email
                    input(type="text",name="email").form-control
                div.form-group 
                    label Password
                    input(type="password",name="password").form-control
                div.text-right
                    button(type="submit").btn.btn-warning.btn-lg Enviar
            hr
            p.text-center ¿Tienes una cuanta ya? 
                a(href="/") Iniciar Sesión